@model Entertainers

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h2>Delete Confirmation</h2>
                <p>Are you sure you want to delete @Model.EntStageName?</p>
            </div>

            <!-- Flexbox Container for Buttons -->
            <div class="d-flex justify-content-center">
                <form asp-action="DeleteArtist" method="post" class="mr-2">
                    <input type="hidden" asp-for="EntertainerID" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

                <a class="btn btn-primary" asp-action="ArtistList">Cancel</a>
            </div>
        </div>
    </div>
</div>
