@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid bg-dark text-white text-center mb-4">
    <div class="container">
        <h1 class="display-4">Welcome to Cameron Hammond's Final Project</h1>
        <p class="lead">This is the final test for 413. It is a simple CRUD application that allows you to add, edit, and delete artists from a database.</p>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <h2 class="mb-4">Explore Our Artists</h2>
        <p>Discover and connect with the world's best artists.</p>
        <a class="btn btn-primary" asp-action="ArtistList">View Artists</a>
    </div>
</div>
