@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cameron Hammond's Final Project</h1>
    <p>This is the final test for 413. It is a simple CRUD application that allows you to add, edit, and delete artists from a database.</p>
</div>
